body{
    background-color: #000000;
    margin: 0;
    padding: 0;
    color: white;
    z-index: -20;
}
a{
    text-decoration: none;
}
.styledblue{
background-color: #0B5292;
    color: white;
    height: 60px;
    width: 300px;
    font-size: 20px;
    align-content: center;
    z-index: 2;
    margin: 10px 10px 10px 10px;
    font-weight: bold;
    border-radius: 3px;
}

.styledgreen{
background-color: #1A6443;
   color: white;
    height: 60px;
    width: 300px;
    font-size: 20px;
    align-content: center;
    z-index: 2;
    margin: 10px 10px 10px 10px;
    font-weight: bold;
    border-radius: 3px;
}
.styledyellow{
background-color: #FCF005;
   color: white;
    height: 60px;
    width: 300px;
    font-size: 20px;
    align-content: center;
    z-index: 2;
    margin: 10px 10px 10px 10px;
    font-weight: bold;
    border-radius: 3px;
}
.styledred{
background-color: #B5102D;
   color: white;
    height: 60px;
    width: 300px;
    font-size: 20px;
    align-content: center;
    z-index: 2;
    margin: 10px 10px 10px 10px;
    font-weight: bold;
    border-radius: 3px;
}
#landingNewUser{
    background-color: purple;
    color: white;
    height: 60px;
    width: 300px;
    font-size: 30px;
    align-content: center;
    z-index: 2;
    margin: 10px 10px 10px 10px;
    font-weight: bold;
    border-radius: 3px;
}

.smallblue{
background-color: #0B5292;
    color: white;
    font-size: 12px;
    align-content: center;
    z-index: 2;
 }

.smallgreen{
background-color: #1A6443;
   color: white;
    font-size: 12px;
    align-content: center;
    z-index: 2;

}
.smallyellow{
background-color: #FCF005;
   color: #000000;
    font-size: 12px;
    align-content: center;
    z-index: 2;

}
.smallred{
background-color: #B5102D;
   color: white;
    font-size: 12px;
    align-content: center;
    z-index: 2;

}


#pinBox{
    background-color:black;
    /* position: relative; */
    opacity: .7;
    height: 100%;
    min-height: 300px;
    /*width: 80%; */
    z-index: 15;
    border-radius: 10px; 
    font-size: 30px;  
     color:white
}


#pin_label{
    text-align: center;
    font-size: 100%
}

.pin{
    text-align: center;
height: 100%;
width: 5%;
margin: 0 0 0 0;

}

.colorName{
    font-size: 120px;
        color: black
}

h2{
    margin: auto;
    text-align: center;
}
h1{
    margin: auto;
    text-align: center;
}

.instructions{
    font-size: 36px;
    margin: auto;
    text-align: center;
    
}

.emotions{
    background:whitesmoke;
    color:black;
    height: 150px;
    width: 300px;
    margin: 2px 2px 2px 2px;
    font-size: 40px
}

.strategies{
    position: relative;
    text-align: center;
    background:whitesmoke;
    color:black;
    height: 150px;
    width: 24em;
    margin: 2px 2px 2px 2px;
    font-size: 40px
}


#welcomebox{
    background-color: #24678d;
    color: #ffffff;
    height: 600px;
    width: 800px
}
#loginbox{
    background-color: whitesmoke;
    color:black;
     height: 300px;
    width: 380px
}

#landing{
    background-color: #7313AB;
    height: 900px;
    text-align: center;
    z-index: 1
}

#landinglogin{
    position: fixed;
    background-color: whitesmoke;
    color: black;
    height: 700px;
    width: 1200px;
    z-index: 4

}

#userBlocks{
    background-color: black;
    color: white;
    height: 80px;
    width: 280px;
    z-index: 2;
    margin: 10px 10px 10px 10px
}


#header{
    background-color: #7313AB;
    height: 75px;
    text-align: center;
    z-index: 1
}
#clientLoginButton{
    z-index: 12;
}
#clientLogin{
    width: 60%;
    height: 40%
}
#clientRegister{
    background-color: whitesmoke;
    color:black;
     height: 80%;
    width: 60%
}
.mini{
    font-size: 11px;
}

#imgBackground{
    width: auto;
    height: 100%;
    background-size: contain;
        background-image: url("../views/images/background.png");
    
}

.title{
    background-color: #000000;
}

.background{
    height: 100vh;
     background-color: #000000;
}

#small{
background-color: #0B5292;
height: 100vh;
color: white;
z-index: -5;
}

#green{
background-color: #1A6443;
height: 100vh;
z-index: -5;
}
#yellow{
background-color: #FCF005;
color:black;
height: 100vh;
z-index: -5;
}
#red{
background-color: #B5102D;
height: 100vh;
z-index: -5;
}

.background_base{
    background-color: rgb(141, 138, 138);
    margin: auto;
    height: 75%;
    width: 80%;   
}


.checkboxdemoBasicUsage div.flex-xs {
  min-height: 40px; }

.checkboxdemoBasicUsage .checkboxDemo1 div {
  clear: both; }

.checkboxdemoBasicUsage legend {
  color: #3F51B5; }

  #blueZone{
background-color: #0B5292;
height: 25%;
min-height: 170px;
color: white;
z-index: -5;
}

#greenZone{
background-color: #1A6443;
height: 25%;
min-height: 170px;
z-index: -5;
}
#yellowZone{
background-color: #FCF005;
color:black;
height: 25%;
min-height: 170px;
z-index: -5;
}
#redZone{
background-color: #B5102D;
height: 25%;
min-height: 170px;
z-index: -5;
}
.gray{    
    background-color: rgb(141, 138, 138);
    margin: auto;
    color: #ffffff;
}
.strat{
     position: relative;
    text-align: center;
    background-color: whitesmoke;
    color:black;
    height: 400px;
    margin: 2px 2px 2px 2px;
    font-size: 40px
}

#userHistory{
    border: 3px;
    border-style: inset;
    border-color: #525050;
    background-color: whitesmoke;
    color: black;
    width: 95%;
    max-height: 100px;
}

#userHistory tr:nth-child(even) {
    background-color: #7A7A7A;
}

#userHistory th{
    border: 2px solid #7A7A7A;
}
#userHistory tr{
border: 1px, solid, #000000;
}

.login_base{
    background-color: white;
    color: black;
    height: 500px;
    width: 500px;
}