body{
    background-color: #000000;
    margin: 0;
    padding: 0;
    color: white;
    z-index: -20;
}
a{
    text-decoration: none;
}
#zonesAd a{
    text-decoration: none;
    color: white;
}
.styledblue{
background-color: #0B5292;
    color: white;
    height: 60px;
    width: 290px;
    font-size: 20px;
    align-content: center;
    z-index: 2;
    margin: 10px 10px 10px 10px;
    font-weight: bold;
    border-radius: 15px;
    border: 3px solid #000000;
}

.styledgreen{
background-color: #1A6443;
   color: white;
    height: 60px;
    width: 290px;
    font-size: 20px;
    align-content: center;
    z-index: 2;
    margin: 10px 10px 10px 10px;
    font-weight: bold;
    border-radius: 15px;
    border: 3px solid #000000;
}
.styledyellow{
background-color: #FCF005;
   color: #000000;
    height: 60px;
    width: 290px;
    font-size: 20px;
    align-content: center;
    z-index: 2;
    margin: 10px 10px 10px 10px;
    font-weight: bold;
    border-radius: 15px;
    border: 3px solid #000000
}
.styledred{
background-color: #B5102D;
   color: white;
    height: 60px;
    width: 290px;
    font-size: 20px;
    align-content: center;
    z-index: 2;
    margin: 10px 10px 10px 10px;
    font-weight: bold;
    border-radius: 15px;
    border: 3px solid #000000
}
#landingNewUser{
    background-color: purple;
    color: white;
    height: 60px;
    width: 290px;
    font-size: 30px;
    align-content: center;
    z-index: 2;
    margin: 10px 10px 10px 10px;
    font-weight: bold;
    border-radius: 15px;
    border: 3px solid #000000
}

.smallblue{
background-color: #0B5292;
    color: white;
    font-size: 12px;
    align-content: center;
    z-index: 2;
 }

.smallgreen{
background-color: #1A6443;
   color: white;
    font-size: 12px;
    align-content: center;
    z-index: 2;

}
.smallyellow{
background-color: #FCF005;
   color: #000000;
    font-size: 12px;
    align-content: center;
    z-index: 2;

}
.smallred{
background-color: #B5102D;
   color: white;
    font-size: 12px;
    align-content: center;
    z-index: 2;

}


#pinBox{
    background-color:black;
    font-family: Helvetica, Courier, Arial, Verdana;
    opacity: .7;
    height: 100%;
    min-height: 300px;
    z-index: 15;
    border-radius: 10px; 
    font-size: 30px;  
     color:white
}


#pin_label{
    text-align: center;
    font-size: 100%;
    font-family: Helvetica, Courier, Arial, Verdana;
    text-decoration: bold;
}

.pin{
text-align: center;
height: 100%;
width: 5%;
margin: 0 0 0 0;
font-family: Helvetica, Courier, Arial, Verdana;

}

.colorName{
    font-size: 120px;
        color: black
}

h2{
    margin: auto;
    text-align: center;
}
h1{
    margin: auto;
    text-align: center;
}

.instructions{
    font-size: 36px;
    /* margin: auto; */
    text-align: center;
    
}

.emotions{
    background:whitesmoke;
    color:black;
    height: 100%;
    min-height: 100px;
    width: 30%;
    margin: 2px 2px 2px 2px;
    font-size: 40px;
    text-align: center;
    border-radius: 100px;
    padding: 2% 0 2% 0;
    border-style: solid;
    border-width: 6px;
}

.strategies{
    position: relative;
    text-align: center;
    background:whitesmoke;
    color:black;
    height: 150px;
    width: 24em;
    margin: 2px 2px 2px 2px;
    font-size: 40px;
    padding: 2% 0 2% 0;
    border-radius: 75px;
      border-style: solid;
    border-width: 6px;
    
}


#welcomebox{
    margin-top: 100px; 
    background-color: #24678d;
    color: #ffffff;
    height: 600px;
    width: 800px;
    border-style: solid;
    border-width: 6px;
    border-color:#000000;
    border-radius: 15px;
}
#loginbox{
    background-color: whitesmoke;
    color:black;
     height: 300px;
    width: 380px
}

#landing{
    background: linear-gradient(silver, #7313AB,  #000000);
    background-color: #7313AB;
    height: 100vh;
    text-align: center;
    z-index: 1
}

#landinglogin{
    background-color: whitesmoke;
    color: black;
    height: 80%;
    width: 95%;
    z-index: 4;
    border: 6px solid silver;
    border-radius: 75px;

}

#userBlocks{
    background-color: black;
    color: white;
    height: 80px;
    width: 280px;
    z-index: 2;
    margin: 10px 10px 10px 10px
}
#header{
    background-color: #7313AB;
    height: 100vh;
    text-align: center;
    z-index: 1
}
#clientLoginButton{
    z-index: 12;
}
#clientLogin{
    width: 60%;
    height: 40%
}
#clientRegister{
    margin: 10 0 0 0;
    background-color: whitesmoke;
    color:black;
     height: 80%;
    width: 60%
}
.mini{
    font-size: 11px;
}

#imgBackground{
    width: auto;
    height: 100%;
    background-color: #000000;
    background-size: contain;
    background-image: url("../views/images/background.png");
    z-index: -19; 
}
#ZonesImage{
    width: auto;
    height: 50px;
    background-size: contain;
    background-image: url("../views/images/Zones.png");
    background-repeat: no-repeat;
    align-content: center;
}

.title{
    background-color: #000000;
    height: 8%;
    font-size: 24px 
}

.background{
    height: 100vh;
     background-color: #000000;
}

#background{
    height: 100vh;
    background-color: #000000;
    opacity: .3;
    z-index: 0
}


#small{
background-color: #0B5292;
height: 100vh;
color: white;
z-index: -5;
}
#blue{
background-color: #0B5292;
height: 100vh;
z-index: -5;
}
#green{
background-color: #1A6443;
height: 100vh;
z-index: -5;
}
#yellow{
background-color: #FCF005;
color:black;
height: 100vh;
z-index: -5;
}
#red{
background-color: #B5102D;
height: 100vh;
z-index: -5;
}

.background_base{
    background-color: rgb(141, 138, 138);
    margin: auto;
    height: 75%;
    width: 80%;   
    border-radius: 15px;
    border: 6px solid black;
    overflow-y: scroll;
}


.checkboxdemoBasicUsage div.flex-xs {
  min-height: 40px; }

.checkboxdemoBasicUsage .checkboxDemo1 div {
  clear: both; }

.checkboxdemoBasicUsage legend {
  color: #3F51B5; }

#blueZone{
background-color: #0B5292;
height: 23%;
color: white;
z-index: -5;
}
#greenZone{
background-color: #1A6443;
height: 23%;
z-index: -5;
}
#yellowZone{
background-color: #FCF005;
color:black;
height: 23%;
z-index: -5;
}
#redZone{
background-color: #B5102D;
height: 23%;
z-index: -5;
}
#blueZone:hover{
background-color: #0B5292;
opacity: .6;
height: 23%;
color: white;
z-index: -5;
}
#greenZone:hover{
background-color: #1A6443;
opacity: .6;
height: 23%;
z-index: -5;
}
#yellowZone:hover{
background-color: #FCF005;
color:black;
opacity: .6;
height: 23%;
z-index: -5;
}
#redZone:hover{
background-color: #B5102D;
opacity: .6;
height: 23%;
z-index: -5;
}
.gray{    
    background-color: rgb(141, 138, 138);
    margin: auto;
    color: #ffffff;
}
.strat{
     /* position: relative; */
    text-align: center;
    background-color: whitesmoke;
    color:black;
    height: 500px;
    margin: 2px 2px 2px 2px;
    font-size: 40px;
    padding: 2% 0 2% 0;
    border-radius: 25px;
    border-style: solid;
    border-width: 6px;

}

#userHistory{
    border: 3px;
    border-style: inset;
    border-color: #525050;
    background-color: whitesmoke;
    color: black;
    width: 95%;
    max-height: 100px;
    border-radius: 15px;
}

#userHistory tr:nth-child(even) {
    background-color: #7A7A7A;
}

#userHistory thead td{
    font-size: 24px;
    border-bottom-style: solid;
    border-bottom-width: 6px;
    border-bottom-color: linear-gradient(to right, silver, #7313AB, #7313AB, silver);
    margin: 0 -10px 0 -10px;
}
#userHistory thead{
    border-bottom-style: solid;
    border-bottom-width: 6px;
    border-bottom-color: linear-gradient(to right, silver, #7313AB, #7313AB, silver);
}
#userHistory tr{
border: 1px, solid, #000000;
}

.login_base{
    background-color: white;
    color: black;
    height: 300px;
    width: 500px;
    border: 3px solid silver;
    border-radius: 15px;
}

#stratStuff{
    padding: 0 0 -5px 0;
    margin: 0 0 -10px, 0;
}

#Dashboard{
    font-size: 36px;
    color: #000000;
    Margin: 0 0 0 0;
}
#Dashboard_subheading{
    font-size: 20px;
    color: #000000;
    margin: 0 0 0 0;
}
hr{
    height:12px;
    background: linear-gradient(to right, silver, #7313AB, #7313AB, silver);
    border: 0px;
}