body{
    background-color: #000000;
    margin: 0;
    padding: 0;
    color: white;
    z-index: -6;
}
.blue{
background-color: #0B5292;
    height: 80px;
    width: 280px;
    z-index: 2;
    margin: 10px 10px 10px 10px;
z-index: -5;
}

.green{
background-color: #1A6443;
    height: 80px;
    width: 280px;
    z-index: 2;
    margin: 10px 10px 10px 10px;
z-index: -5;
}
.yellow{
background-color: #FCF005;
color:black;
    height: 80px;
    width: 280px;
    z-index: 2;
    margin: 10px 10px 10px 10px;
z-index: -5;
}
.red{
background-color: #B5102D;
    height: 80px;
    width: 280px;
    z-index: 2;
    margin: 10px 10px 10px 10px;
z-index: -5;
}

#pinBox{
    background-color:black;
    position: relative;
    opacity: .7;
    height: 100%;
    min-height: 300px;
    width: 80%;
    z-index: 15;
    border-radius: 10px; 
    font-size: 30px;  
     color:white
}


#pin_label{
    text-align: center;
font-size: 80%
}

.pin{
    text-align: center;
height: 100%;
width: 5%;
margin: 0 0 0 0;

}

.colorName{
    font-size: 120px;
        color: black
}

h2{
    margin: auto;
    text-align: center;
}
h1{
    margin: auto;
    text-align: center;
}

.instructions{
    font-size: 36px;
    margin: auto;
    text-align: center;
    
}

.emotions{
    background:whitesmoke;
    color:black;
    height: 150px;
    width: 300px;
    margin: 2px 2px 2px 2px;
    font-size: 40px
}

.strategies{
    position: relative;
    text-align: center;
    background:whitesmoke;
    color:black;
    height: 150px;
    width: 24em;
    margin: 2px 2px 2px 2px;
    font-size: 40px
}


#welcomebox{
    background-color: #24678d;
    color: #ffffff;
    height: 600px;
    width: 800px
}
#loginbox{
    background-color: whitesmoke;
    color:black;
     height: 300px;
    width: 380px
}

#landing{
    background-color: #7313AB;
    height: 900px;
    text-align: center;
    z-index: 1
}
#logout{
    display: flex;
    float: right;
}

#landinglogin{
    position: fixed;
    background-color: whitesmoke;
    color: black;
    height: 700px;
    width: 1200px;
    z-index: 4

}

#userBlocks{
    background-color: black;
    color: white;
    height: 80px;
    width: 280px;
    z-index: 2;
    margin: 10px 10px 10px 10px
}

#landingNewUser{
        background-color: purple;
    color: white;
    height: 80px;
    width: 280px;
    z-index: 2;
    margin: 10px 10px 10px 10px
}
#header{
    background-color: #7313AB;
    height: 125px;
    text-align: center;
    z-index: 1
}
#clientLoginButton{
    z-index: 12;
}
#clientLogin{
    width: 60%;
    height: 40%
}
#clientRegister{
    background-color: whitesmoke;
    color:black;
     height: 80%;
    width: 60%
}
.mini{
    font-size: 11px;
}

#imgBackground{
    width: auto;
    height: 100%;
    background-size: contain;
        background-image: url("../views/images/background.png");
    
}

.filler{
    height: 33%;
    min-height: 200px;
}

.title{
    background-color: #000000;
}

.background{
    height: 100vh;
}

#blue{
background-color: #0B5292;
height: 25%;
min-height: 170px;
color: white;
z-index: -5;
}

#green{
background-color: #1A6443;
height: 25%;
min-height: 170px;
z-index: -5;
}
#yellow{
background-color: #FCF005;
color:black;
height: 25%;
min-height: 170px;
z-index: -5;
}
#red{
background-color: #B5102D;
height: 25%;
min-height: 170px;
z-index: -5;
}