<!-- //shown when admin states user is at high level. Stretch goal. -->

<!-- <div id="background" class='blue'>
        <div class="instructions">
        <p>What happened</p>
    </div>
    <div>
        <button type="button">Alert my responder I need help.</button>
        <br>
        <label> Cause</label><br>
        <input class='box' type="textbox"></input><br>
        <label> Response </label><br>
        <input class= 'box'type="textbox"></input><br>
        <button type="button" value=submit>Submit</button>

    </div>
</div> -->
