<div id="background" class='blue'>
    <div class="instructions">
        <p>Please Select an Emotion</p>
    </div>
    <div class="emotions" ng-click="ec.add('sad')">Sad</div>
    <div class="emotions" ng-click="ec.add('Tired')">Tired</div>
    <div class="emotions" ng-click="ec.add('Bored')">Bored</div>
    <div class="emotions" ng-click="ec.add('Hurt')">Hurt</div>
    <div class="emotions" ng-click="ec.alert()">Alert my responder I need help.</div>
    <div class="emotions" ng-click="ec.back()">None of these fit I need help.</div>
</div>
