<div md-layout="row" layout-xs="column" id="background" class='red' flex>
    <div class="instructions">
        <p>Please Select an Emotion</p>
    </div>
    <div flex class="emotions" ng-click="ec.add('sad')">Sad</div>
    <div flex class="emotions" ng-click="ec.add('Tired')">Tired</div>
    <div flex class="emotions" ng-click="ec.add('Bored')">Bored</div>
    <div flex class="emotions" ng-click="ec.add('Hurt')">Hurt</div>
    <div flex class="emotions" ng-click="ec.alert()">Alert my responder I need help.</div>
    <div flex class="emotions" ng-click="ec.back()">None of these fit I need help.</div>
</div>
