<div id="background">
    <div class='title'><h2>Hello {{zc.User.Name}} </h2> <div class="back" ng-click="zc.out()">Not Me</div></div>
    <div class='blue' ng-click="zc.add('blue')" ng-model="zc.newData.zone">
    <h2 class= 'colorName'>Blue</h2>
    </div>
    <div class='green' ng-click="zc.add('green')" ng-model="zc.newData.zone">
    <h2 class='colorName'>Green</h2>
    </div>
    <div class='yellow' ng-click="zc.add('yellow')" ng-model="zc.newData.zone">
    <h2 class='colorName'>Yellow</h2>
    </div>
    <div class='red' ng-click="zc.add('red')" ng-model="zc.newData.zone">
    <h2 class='colorName'>Red</h2>
    </div>
</div>
