<div id="background" class={{lc.User.LoggedIn}}>
<div class='blue'>
 {{lc.User.LoggedIn}}
    <div id='pinBox'>
        <p><label> PIN </label></p>

        <input class="pin" type="text" ng-model="lc.pin.a"></input>
        <input class="pin" type="text" ng-model="lc.pin.b"></input>
        <input class="pin" type="text" ng-model="lc.pin.c"></input>
        <input class="pin" type="text" ng-model="lc.pin.d"></input>
        <button ng-click="lc.check(lc.pin.a,lc.pin.b,lc.pin.c,lc.pin.d)"> submit </button>
        <p> <button href="!#/client">Client Login</button></p>
                </div>
    </div>
    <div class='green'>
        </div>
        <div class='yellow'>
    </div>
    <div class='red'>
    </div>
</div><!--login end-->


