<body>
<div id="background">
<div class='blue' ng-app="myApp">
    <h1>This is the login for 4Zones</h1>

    <div id='pinBox'>
        <p><label> PIN </label></p>

        <input class="pin" type="text"></input>
        <input class="pin" type="text"></input>
        <input class="pin" type="text"></input>
        <input class="pin" type="text"></input>
        <p> <button href="!#/client">client login</button></p>
                </div>
    </div>
    <div class='green'>
        </div>
        <div class='yellow'>
    </div>
    <div class='red'>
    </div>
<body>