<div class="background" layout="column">
    <div id="header">
        <h1 id="welcome" class="lead">Welcome, {{ic.userObject.name}}!</h1>
        <button ng-click="ic.dashboard()">User Dashboard</button>
    </div>
    <div class="login_base">
        <div class="section" layout="row" layout-align="space-around center">
            <div flex="30">
                <label for=“firstname”>First Name:</label><br>
                <input type=“text” ng-model="ic.newUser.first_name"></input>
            </div>
            <div flex="30">
                <label for=“lastname”>Last Name:</label><br>
                <input type=“text” ng-model="ic.newUser.last_name"/>
            </div>
        </div>
        <div class="section" layout="row" layout-align="space-around center"></div>
            <div flex="30">
                <label for=“PIN”>Pin:</label><br>
                <input type=“text” ng-model="ic.newUser.pin" maxlength="4"/>
            </div>
            <div flex="30">
                <label for="confirmpin">Confirm PIN:</label><br>
                <input type=“text” ng-model="ic.newUser.confirmpin" maxlength="4"/>
            </div>
        </div>
        <div class="section" layout="row" layout-align="space-around center">
            <div flex="50">
                <label for=“email”>Responder Email:</label><br>
                <input type=“text” ng-model="ic.newUser.rEmail"/>
            </div>
        </div>

        <div layout-wrap layout="row" layout-align="center center" layout-padding>
            <div flex="20" flex-offset="5">
            <label for="emotionalawareness"> Emotional Awareness:</label><br>
            </div>
            <div flex="10">
                <md-checkbox md-no-ink aria-label="Checkbox low" ng-model="ic.data.low" class="md-primary" ng-change="ic.checkboxSelected('low')">
                    Low
                </md-checkbox>
            </div>
            <div flex="10">
                <md-checkbox md-no-ink aria-label="Checkbox Base" ng-model="ic.data.base" class="md-primary" ng-change="ic.checkboxSelected('base')">
                    Base
                </md-checkbox>
            </div>
            <div flex="10">
                <md-checkbox md-no-ink aria-label="Checkbox advanced" ng-model="ic.data.advanced" class="md-primary" ng-change="ic.checkboxSelected('advanced')">
                    Advanced
                </md-checkbox>
            </div>
            <div flex="45">
                <md-button class="md-raised md-primary" ng-click="ic.addUser()">Add new user</md-button>
            </div>
        </div>
        
        
 
    </div>
</div>