<div layout="row" class="container" layout-align="center center">
    <div id="welcomebox" layout="row" layout-align="center start">
        <!-- <h1 class="lead alert alert-danger" role="alert" ng-if="Lc.message != ''">{{lc.message}}</h2> -->
            
                <md-card id="clientLogin">
                    <md-card-content>
                        <h1>Hello!</h1>
                        <h2>{{Lc.message}}</h2>
                        <label for="username">Username:</label><br>
                        <input type="text" ng-model="Lc.user.username" /><br>
                        <label for="password">Password:</label><br>
                        <input type="password" ng-model="Lc.user.password" /><br>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="center center">
                        <md-button ng-click="Lc.login(Lc.User)"> Log In </md-button>
                        <md-button ng-href="/#!/register">Register</md-button>
                        <md-button ng-href="/#!/">Back To PIN Log In</md-button>
                    </md-card-actions>
                </md-card>
    </div>
</div>