<div class="background" layout="column">
    <div id="header">
        <h1 id="welcome" class="lead">User History!</h1>
        <div layout="row" layout-align="center center">
        <div flex="45">
        <md-button class="md-raised md-primary" ng-click="pc.dashboard()">User Panel</md-button>
        </div>
        <div flex="45">
            <md-button class="md-raised md-primary" ng-click="pc.updateParticipantStuff()">Update User Info</md-button>
        </div>
        </div>
    </div>
    <div class="background_base">
        <!-- <div class="section" layout="row" layout-align="space-around center">
            <div flex="15">
                <label for=“firstname”>First Name:</label><br>
                <input type=“text” ng-model="pc.updateParticipant.first_name" placeholder="pc.Participant"/>
            </div>
            <div flex="15">
                <label for=“lastname”>Last Name:</label><br>
                <input type=“text” ng-model="pc.updateParticipant.last_name" placeholder="pc.Participant" />
            </div>
            <div flex="15">
                <label for=“PIN”>Pin:</label><br>
                <input type=“text” ng-model="pc.updateParticipant.pin" maxlength="4" placeholder="pc.Participant" />
            </div>
            <div flex="15">
                <label for="confirmpin">Confirm PIN:</label><br>
                <input type=“text” ng-model="pc.updateParticipant.confirmpin" maxlength="4" placeholder="pc.Participant"/>
            </div>
            <div flex="15">
                <label for=“email”>Responder Email:</label><br>
                <input type=“text” ng-model="pc.updateParticipant.rEmail"/>
            </div>
        </div> -->

            <!-- <div flex="20" flex-offset="5">
                <label for="emotionalawareness"> Emotional Awareness:</label><br>
            </div>
            <div flex="10">
                <md-checkbox md-no-ink aria-label="Checkbox low" ng-model="pc.data.low" class="md-primary" ng-change="pc.checkboxSelected('low')">
                    Low
                </md-checkbox>
            </div>
            <div flex="10">
                <md-checkbox md-no-ink aria-label="Checkbox Base" ng-model="pc.data.base" class="md-primary" ng-change="pc.checkboxSelected('base')">
                    Base
                </md-checkbox>
            </div>
            <div flex="10">
                <md-checkbox md-no-ink aria-label="Checkbox advanced" ng-model="pc.data.advanced" class="md-primary" ng-change="pc.checkboxSelected('advanced')">
                    Advanced
                </md-checkbox>
            </div> -->
           
        <!-- </div> -->
      
        <!-- <md-content class="gray" layout-padding ng-cloak>
            <div class="gray" layout="row" layout-align="center center">
                <div flex="20">
                    <h4>Pick a date range:</h4>
                </div>
                <div flex="40">
                        <label>Start date</label>
                        <input type="text" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" ng-model="pc.myStartDate.Date" name="dateField" ng-change="pc.userHistoryFiltered(pc.myStartDate)" placeholder="yyyy-mm-dd"></input>
           
                </div>
                <div flex="40">
                        <label>End date</label>
                        <input type="text" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" ng-model="pc.myEndDate.Date" name="dateField" ng-change="pc.userHistoryFiltered(pc.myEndDate)" placeholder="yyyy-mm-dd"></input>
                </div>
            </div>
        </md-content> -->
        <br>
    
        <table id="userHistory">
            <thead>
                <td>Posted</td>
                <td>Zone</td>
                <td>Emotion</td>
                <!-- <td>Cause</td>
                <td>Response</td> -->
                <td>Assistance Requested?</td>
                <!-- <td>{{pc.userObject.name}} Notes.</td> -->
            </thead>
            <tbody>

                <tr ng-repeat="history in pc.userService.gotParticipantHistory.list.data">
                    <td>{{history.created_at | date: "short"}}</td>
                    <td class="small{{history.zone}}">{{history.zone}}</td>
                    <td>{{history.emotion}}</td>
                    <!-- <td>{{history.cause}}</td>
                    <td>{{history.response}}</td> -->
                    <td>{{history.responderalerted}}</td>
                    <!-- <td>{{history.notes}}<button ng-click="addNote">+</button></td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>