<!DOCTYPE html>
<!--delete once ng route complete-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>4Z What happened</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>

<body id='blue'>
    <!--delete once ng route complete add {{to set id equal to color selected?}-->
    <div class="instructions">
        <p>What happened</p>
    </div>
    <div>
        <button type="button">Alert my responder I need help.</button>
        <br>
        <label> Cause</label><br>
        <input class='box' type="textbox"></input><br>
        <label> Response </label><br>
        <input class= 'box'type="textbox"></input><br>
        <button type="button" value=submit>Submit</button>

    </div>
</body>
<!--delete once ng route complete-->