<!DOCTYPE html><!--delete once ng route complete-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>4Zones Login</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body><!--delete once ng route complete-->
<div id='blue'>
    <h1>This is the login for 4Zones</h1>

    <div id='pinBox'>
        <p><label> PIN </label></p>

        <input class="pin" type="text"></input>
        <input class="pin" type="text"></input>
        <input class="pin" type="text"></input>
        <input class="pin" type="text"></input>
        <p> <button href="!#/client">client login</button></p>
                </div>
    </div>
    <div id='green'>
        </div>
        <div id='yellow'>
    </div>
    <div id='red'>
    </div>
</body><!--delete once ng route complete-->