<!DOCTYPE html>
<!--delete once ng route complete-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>4Zones Stratagies</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>

<body id='blue'>
    <!--delete once ng route complete add {{to set id equal to color selected?}-->
    <div class="instructions">
        <p>Please Try these strategies. Click done to close. </p>
    </div>
    <div class="strategies">Take 5 deep breaths</div>
    <div class="strategies">Look at this puppy</div>
    <div class="strategies">go to the restroom and wash your face</div>
    <div class="strategies">Alert my responder I need help.</div>
    <div class="strategies">Done</div>
</body>
<!--delete once ng route complete-->