<!DOCTYPE html>
<!--delete once ng route complete-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>4Zones zones</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>

<body>
    <!--delete once ng route complete-->
    <div id='blue' ng-click="">
    <h2 class= 'colorName'>Blue</h2>
    </div>
    <div id='green' ng-click="">
    <h2 class='colorName'>Green</h2>
    </div>
    <div id='yellow' ng-click="">
    <h2 class='colorName'>Yellow</h2>
    </div>
    <div id='red' ng-click="">
    <h2 class='colorName'>Red</h2>
    </div>
</body><!--delete once ng route complete-->
</html>